<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test thread-count="2" parallel="methods"
            verbose="2" preserve-order="true"
          name="/home/dhananjai/IdeaProjects/OrangeHRMNew/src/test/java/TestCases">
        <classes>
            <class name="TestCases.LoginTestPage">
<!--                <methods>-->
<!--                    <include name="test1"/>-->
<!--                    <include name="test2"/>-->
<!--                </methods>-->
            </class>

            <class name="TestCases.LoginTestPage1"></class>

        </classes>
    </test>
</suite>